{% extends 'base.html' %}
{% block title %}课程机构列表 - 金宝贝在线网{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">首页</a>></li>
                <li>课程介绍</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
<section>
	<div class="wp butler-detail-box butler-diaryd-box clearfix">
        <div class="fl list">
            <div class="butler_detail_list clearfix">
                <div class="brief">
                    <dl class="des">
                        <dt>
                            <div class="picpic">
                                <img width="100" height="100" src="{{ MEDIA_URL }}{{ course.image }}"/>
                            </div>
                        </dt>
                        <dd>
                            <h1>{{ course.name }}</h1>
                        </dd>
                    </dl>
                    <div class="groupPurchase_detail detail">
                        <div class="toppro">
                            <div class="btns">
							   <div class="buy btn" id="jsBtn">
                                {% if has_appointment %}已预约{% else %}我要预约(仅限非会员){% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	<div class="wp butler_list_box list">
        <div class="left layout">
				<div class="head">
					<ul class="tab_header">
						<li class="active">课程详情</li>
					</ul>
				</div>
				<div class="tab_cont tab_cont1">
                    {% autoescape off %}
					{{ course.detail }}
                    {% endautoescape %}
				</div>

			</div>
    </div>
        </div>
    </div>
 </section>
{% endblock %}
{% block custom_js %}
<script type="text/javascript">
//收藏分享
function add_apply(current_elem, fav_id){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url "org:add_appointment" %}",
        data:{'fav_id':fav_id},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="/login/";
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'success'){
                current_elem.text(data.msg)
            }
        },
    });
}

$('#jsBtn').on('click', function(){
    add_apply($(this), {{ course.id }});
});

</script>

{% endblock %}